@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
@layer components {
  .transition{
    @apply transition-all !duration-300 ease-out
  }
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #F5F7FA;
}

/* auth file css start */
.login-card{
  background: linear-gradient(239deg, rgba(195, 195, 195, 0.20) -1.23%, rgba(255, 255, 255, 0.00) 68.9%);
  backdrop-filter: blur(12px);
}
.box-shadow{
  box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.3);
}
/* auth file css end */

/* Nav and Sub Nav CSS Start */
.active svg,
.active svg path {
    fill: #1814F3;
}
.activehome svg path{
  stroke: #1814F3;
  stroke-width: 1.8;
}
.active,.activehome {
  position: relative;
  overflow: hidden;
}
.active h2,.active h3,.activehome h2{
  font-weight: 500;
    color: #1814F3;
}
.icons svg{
  width: 20px;
  height: 20px;
}
.active .icons svg,.activehome .icons svg{
  width: 22px;
  height: 22px;
}
.active .tab, .active .subtab,.activehome .tab, .activehome .subtab{
  display: flex;
}
.plus-svg svg,.plus-svg svg path{
  stroke: #949494;
}
.add-card svg,.add-card svg path{
      stroke: #494949;
}
@media screen and (max-width: 768px) {
  .icons svg{
    width: 11px;
    height: 11px;
  }
  .active .icons svg{
    width: 15px;
    height: 15px;
  }
  .icons h2{
    font-size: 11px;
  }
}
.custom-gradient{
  background: conic-gradient(from 180deg at 50% 50%, #b4b2b2 0deg, rgba(211,209,209,0.49) 183.6deg,rgba(181,179,179,0.46) 208.8deg, rgba(103,103,103,0.38) 333.38deg, rgba(165,165,165,0) 360deg);
}
/* Nav and Sub Nav CSS End */


/* Set dropdown font-families */
.ql-font span[data-value="impact"]::before, .ql-font span[data-label="Impact"]::before {
  font-family: "Impact";
}
.ql-font span[data-value="courier"]::before, .ql-font span[data-label="Courier"]::before {
  font-family: "Courier";
}
.ql-font span[data-value="comic"]::before, .ql-font span[data-label="Comic Sans MS"]::before {
  font-family: "Comic Sans MS";
}

.ql-font-impact { font-family: 'Impact'; }
.ql-font-courier { font-family: 'Courier'; }
.ql-font-comic { font-family: 'Comic Sans MS'; }
.ql-toolbar.ql-snow{
  border: none !important;
  padding: 0 !important;
}

/* scrollbar styling Start */
::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-thumb {
  background: #dddbdb;
  border-radius: 50px;
}
/* scrollbar styling End */
.ql-container.ql-snow{
  height: 300px;
}
.ql-editor{
  padding: 64px !important;
}


/* carousel CSS Start */
.carousel-container{
  height: 100%;
}
.react-multi-carousel-dot button{
  width:15px !important;
  height: 15px!important;
  background-color: #08347c !important;
  border-radius:100px !important;
  border: 3px solid #08347c !important; 
}
.react-multi-carousel-dot--active button{
  width:18px !important;
  height: 18px!important;
  background-color: #FFF !important;
  border-radius:100px !important;
  border: 5px solid #6F74DD !important; 
}
/* carousel CSS END */