
 /* Chrome, Safari, Edge, Opera */
 input::-webkit-outer-spin-button,
 input::-webkit-inner-spin-button {
   -webkit-appearance: none;
   margin: 0;
 }
 
 /* Firefox */
 input[type=number] {
   -moz-appearance: textfield;
 }
 
 input::-webkit-color-swatch {
   border: none;
 }
 input[type="color"] {
   -webkit-appearance: none;
   border: none;
 }
 input[type="color"]::-webkit-color-swatch-wrapper {
   padding: 0;
 }
 input[type="color"]::-webkit-color-swatch {
   border: none;
 }
 input[type="color"]
 {
 border-radius:100px;
 background:none;
 }